@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1 class="card-title">@ViewData["Title"]</h1>
<h2 class="card-title">@Model.Message</h2>

<p>Use this area to provide additional information.</p>
