@page
@model ITSolution.Framework.Servers.Core.Pages.MyFeature.Pages.Index

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page Teste</title>
</head>
<body>
    It Works
</body>
</html>
