@page
@model ITSolution.Framework.Servers.Core.CustomersPages.MyFeature.Pages.CustomersModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customers Init</title>
</head>
<body>
</body>
</html>
