@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="card-title">Welcome</h1>
<h2 class="card-title">Utilização</h2>
<p>
    Este é um template básico
    utilizado para criação da página principal.
    <br>
    Faça o consumo das APIs desenvolvidas
    Adicione <a href="/ITSHost/CustomApplicationParts"> Application Parts</a> customizados
</p>
